{
    "usb": {"vid":00000,
            "pid":00000},
    "channels": [
        {   "index":0,
            "name":"BotName",
            "secret_key":"<secret_key>"}
    ],
    "save": [
        {  
            "adv_name": "<adv_name>",
            "password": "<password>",
            "querys": [ {"query":"telemetry", "interval": 300, "active":true}, 
                        {"query":"status", "interval": 1200, "active":true}]
        }
    ]
}